extends ../layouts/application.pug

block header
  = t('views.tasks.heading')

block content
  a.nav-link(href=route('newTask'))= t('views.tasks.actions.new')
  br
  //- /tasks?status=&executor=&label=&isCreatorUser=on
  //- /tasks?status=2&label=4&executor=3
  +formFor()(action=route('tasks') method='get')
    .row
      .col
        +filterSelect(selection, 'status', t('views.tasks.status'), statuses)
      .col
        +filterSelect(selection, 'label', t('views.tasks.labels'), labels)
    .row
      .d-flex
        +filterSelect(selection, 'executor', t('views.tasks.executor'), users)(class = '')
        .mb-3.input-group
          .input-group-text.ms-4
            - isChecked = Number.isInteger(selection?.creator)
            input.form-check#data_isCreatorUser(
              type="checkbox"
              name="isCreatorUser"
              checked= isChecked
            )
            label.ms-3.form-check-label(for="data_isCreatorUser")= t('views.tasks.isCreatorUser')

    +submit(selection)(value=t('views.tasks.actions.showFiltered'))
  br
  table.table.table-striped.table-dark
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.creator')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td= task.id
          td
            a(href=route('showTask', { id:task.id }))= task.name
          td= task.status.name
          td= task.creator.name
          td= (task.executor) ? task.executor.name : ''
          td= formatDate(task.createdAt)
          td
            a(href=`/tasks/${task.id}/edit`)= t('views.tasks.actions.edit')
            form(action=`/tasks/${task.id}`, method='post')
              input(name='_method', type='hidden', value='delete')
              input.btn.btn-link(type='submit', value= t('views.tasks.actions.delete'))
