include ../mixins/forms.pug

doctype html
html.h-100(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='Aleksandr T and Bootstrap contributors')
    //- meta(name='generator' content='Hugo 0.84.0')
    title "#{t('appName')}" #{t('title')}
    script(src=assetPath('main.js'))
    link(rel='stylesheet' href=assetPath('main.css'))
    style.
      .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      }
      @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
      }
    //- // Custom styles for this template
    //- link(href='cover.css' rel='stylesheet')
  body.d-flex.h-100.text-center.text-white.bg-dark
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.mb-0
            nav.nav.nav-masthead.justify-content-center.float-md-end
            //- a.navbar-brand(href=route('root'))= t('appName')
            a.text-decoration-none.link-light(href=route('root'))= t('appName')
            //- a.float-md-start.mb-0(href=route('root'))= t('appName')
          nav.nav.nav-masthead.justify-content-center.float-md-end
            //- a.nav-link.active(aria-current='page' href='#') Home
            a.nav-link(href=route('root'))= t('layouts.application.home')
            a.nav-link(href=route('users'))= t('layouts.application.users')
            if isAuthenticated()
              a.nav-link(href=route('statuses'))= t('layouts.application.statuses')
              a.nav-link(href=route('labels'))= t('layouts.application.labels')
              a.nav-link(href=route('tasks'))= t('layouts.application.tasks')
            if isAuthenticated()
              +buttonTo(route('session'), 'delete')(class="btn nav-link ml-1" style = "margin-left: 16px" value=t('layouts.application.signOut'))
            else
              a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
              a.nav-link(href=route('newUser'))= t('layouts.application.signUp')

      .container.wrapper.text-white-50
        each messages, type in reply.flash() || []
          each message in messages
            div.alert(class=`alert-${getAlertClass(type)}`)= message

        h1.my-4
          block header
        block content

      footer.mt-auto.text-white
        p
          | Project 
          a.text-white(target='_blank' href='https://ru.hexlet.io/programs/backend/projects/6') Hexlet
          | , developer 
          a.text-white(href="https://ru.hexlet.io/u/aleksandrt") @Aleksandr T
          | .